<div class="container">
    <div class="header">
      <div class="navigation-buttons">
        <button class="home-button">
          <img src="icons/home.png" alt="Home">
        </button>
        <div class="title-text">
          <h2>Elige una de las<br>opciones</h2>
        </div>
        <button class="back-button">Atrás</button>
      </div>
    </div>
  <br><br><br><br><br>
    <div class="categories-section">
      <div class="categories-grid">
        <!-- Primera fila -->
        <div class="category-row">
          <div class="category-card function-card">
            <div class="light-effect"></div>
            <img src="icons/PronacejDigital/recursoshumanos/01.png" alt="Trabajadores según Función">
            <h3>Trabajadores<br>según Función</h3>
          </div>
          <div class="category-card modality-card">
            <div class="light-effect"></div>
            <img src="icons/PronacejDigital/recursoshumanos/02.png" alt="Trabajadores según Modalidad">
            <h3>Trabajadores<br>según Modalidad</h3>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br>
    <div class="footer">
      <img src="logos/ministeriologo.png" alt="Ministerio" class="footer-logo">
      <img src="logos/pronacejlogo.png" alt="Pronacej" class="footer-logo">
    </div>
  </div>
  
