<div class="container">
  <div class="header">
    <button class="home-button" (click)="navigateTo('/')" [style.background-color]="'#00aae6'">
      <img src="icons/home.png" alt="Home">
    </button>
    
    <div class="title">
      <h2>Elegir fecha del gráfico</h2>
    </div>
    
    <button class="back-button" (click)="goBack()" [style.background-color]="'#00aae6'">
      Atrás
    </button>
  </div>

  <div class="date-section">
    <h3>Fecha a buscar</h3>
    <div class="date-input-container">
      <input 
        type="text" 
        (change)="onDateChange($event)" 
        placeholder="YYYY-MM" 
        class="date-picker"
        
      >
      <button 
        class="search-button" 
        (click)="searchData()"
        [style.background-color]="'#00aae6'"
      >
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <div class="filter-options">
    <div class="checkbox-container">
      <input 
        type="radio" 
        id="situacion" 
        name="filterType" 
        [checked]="!isActive"
        (change)="setFilterType(false)"
      >
      <label for="situacion">ATENDIDOS</label>
    </div>
    
    <div class="checkbox-container">
      <input 
        type="radio" 
        id="activos" 
        name="filterType" 
        [checked]="isActive"
        (change)="setFilterType(true)"
      >
      <label for="activos">ACTIVOS: Alumnos actualmente matriculados</label>
    </div>
  </div>

  <div class="footer">
    <img src="logos/ministeriologo.png" alt="Ministerio" class="footer-logo">
    <img src="logos/pronacejlogo.png" alt="Pronacej" class="footer-logo">
  </div>
</div>