<div class="container">
    <div class="header">
        <div class="navigation-buttons">
          <button class="home-button" (click)="navigateTo('categoria')">
            <img src="icons/home.png" alt="Home">
          </button>
          <div class="user-info">
            <img src="icons/personoutline.png" alt="user icon" class="user-icon">
            <div class="welcome-text">
              <h2>Bienvenido<br>Miguel</h2>
            </div>
          </div>
          <button class="back-button" (click)="navigateTo('reinserdata')">Atrás</button>
        </div>
      </div>
  
    <div class="categories-section">
        <h1>PASPE<br>Elige tu categoría</h1>
   
      
      <div class="categories-grid">
        <!-- Primera fila -->
        <div class="category-row">
          <div class="category-card reinserdata" ><!--(click)="navigateTo('reinserdata')"-->
            <img src="icons/Reinserdata/CJDR/01poblaciontotal.png" alt="Reinserdata">
            <h3>Población Total</h3>
          </div>
  
          <div class="category-card infojoven" ><!--(click)="navigateTo('infojoven')"-->
            <img src="icons/Reinserdata/CJDR/02poblacion.png" alt="Infojoven">
            <h3>Población Edad Simple</h3>
          </div>
        </div>
  
        <!-- Segunda fila -->
        <div class="category-row">
          <div class="category-card insertate" ><!--(click)="navigateTo('insertate')"-->
            <img src="icons/Reinserdata/CJDR/03insercioneducativa.png" alt="Insertate">
            <h3>Situación Educativa Actual</h3>
          </div>
  
          <div class="category-card pronacej" ><!--(click)="navigateTo('pronacejdigital')"-->
            <img src="icons/Reinserdata/CJDR/04insercionlaboral.png" alt="Pronacej Digital">
            <h3>Inserción Laboral</h3>
          </div>
        </div>
      </div>
    </div>
  
    <div class="footer">
      <img src="logos/ministeriologo.png" alt="Ministerio" class="footer-logo">
      <img src="logos/pronacejlogo.png" alt="Pronacej" class="footer-logo">
    </div>
  </div>