<div class="container">
    <!-- Header -->
    <div class="header">
      <div class="nav-buttons">
        <button class="home-button" (click)="navigateTo('categoria')">
          <img src="icons/home.png" alt="Home">
        </button>
        <div class="title">
          <h2>Elige una de las opciones</h2>
        </div>
        <button class="back-button" (click)="navigateTo('cjdr')">Atrás</button>
      </div>
    </div>
  
    <div class="date-section">
        <label class="date-label">Fecha</label>
        <input type="date" [value]="fechaSeleccionada" (change)="onDateChange($event)" />
      </div>
      
  
    <!-- Options Grid -->
    <div class="options-grid">
      <div class="grid-row">
        <!-- Population Card -->
        <div class="option-card population" (click)="navigateTo('grPoblacionCJDR')">
          <div class="light-effect"></div>
          <div class="card-content">
            <img src="icons/Reinserdata/CJDR/reportediario/01.png" alt="CJDR">
            <h3>Población<br>CJDR</h3>
          </div>
        </div>
  
        <!-- Process Card -->
        <div class="option-card processed" (click)="navigateTo('grProcesadosCJDR')">
          <div class="light-effect"></div>
          <div class="card-content">
            <img src="icons/Reinserdata/CJDR/reportediario/02.png" alt="CJDR">
            <h3>Procesados y<br>Sentenciados</h3>
          </div>
        </div>
      </div>
  
      <div class="grid-row">
        <!-- Income/Outcome Card -->
        <div class="option-card movement" (click)="navigateTo('grIngresosCJDR')">
          <div class="light-effect"></div>
          <div class="card-content">
            <img src="icons/Reinserdata/CJDR/reportediario/03.png" alt="CJDR">
            <h3>Ingresos y<br>Egresos</h3>
          </div>
        </div>
  
        <!-- Age Card -->
        <div class="option-card age" (click)="navigateTo('grMayoresCJDR')">
          <div class="light-effect"></div>
          <div class="card-content">
            <img src="icons/Reinserdata/CJDR/reportediario/04.png" alt="CJDR">
            <h3>Mayores y<br>Menores</h3>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Footer -->
    <div class="footer">
      <img src="logos/ministeriologo.png" alt="Ministerio" class="logo">
      <img src="logos/pronacejlogo.png" alt="Pronacej" class="logo">
    </div>
  </div>