<div class="container">
    <div class="header">
      <div class="navigation-buttons">
        <button class="home-button">
          <img src="icons/home.png" alt="Home">
        </button>
        <div class="user-info">
          <img src="icons/personoutline.png" alt="user icon" class="user-icon">
          <div class="welcome-text">
            <h2>Bienvenido<br>Miguel</h2>
          </div>
        </div>
        <button class="back-button">Atrás</button>
      </div>
    </div>
  
    <div class="categories-section">
      <h1>CJDR<br>Elige tu categoría</h1>
      <div class="categories-grid">
        <div class="category-row">
          <div class="category-card report" (click)="navigateTo('reportediario')"><!-- (click)="navigateTo('report')"-->
            <div class="light-effect"></div>
            <img src="icons/Reinserdata/CJDR/01poblaciontotal.png" alt="Reporte">
            <h3>Reporte diario</h3>
          </div>
          <div class="category-card population" (click)="navigateTo('poblacionedadsimple')"><!---->
            <div class="light-effect"></div>
            <img src="icons/Reinserdata/CJDR/02poblacion.png" alt="Población">
            <h3>Población<br>Edad Simple</h3>
          </div>
        </div>
        
        <div class="category-row">
          <div class="category-card education"><!-- (click)="navigateTo('education')"-->
            <div class="light-effect"></div>
            <img src="icons/Reinserdata/CJDR/03insercioneducativa.png" alt="Educación">
            <h3>Situación educativa actual</h3>
          </div>
          <div class="category-card employment" ><!--(click)="navigateTo('employment')"-->
            <div class="light-effect"></div>
            <img src="icons/Reinserdata/CJDR/04insercionlaboral.png" alt="Empleo">
            <h3>Situación<br>laboral</h3>
          </div>
        </div>
  
        <div class="category-row">
          <div class="category-card infractions"><!-- (click)="navigateTo('infractions')"-->
            <div class="light-effect"></div>
            <img src="icons/Reinserdata/CJDR/05infraccionescometidas.png" alt="Infracciones">
            <h3>Infracciones<br>cometidas</h3>
          </div>
          <div class="category-card treatment"><!-- (click)="navigateTo('treatment')"-->
            <div class="light-effect"></div>
            <img src="icons/Reinserdata/CJDR/06tratamientodiferenciado.png" alt="Tratamiento">
            <h3>Tratamiento<br>diferenciado</h3>
          </div>
        </div>
      </div>
    </div>
  
    <div class="footer">
      <img src="logos/ministeriologo.png" alt="Ministerio" class="footer-logo">
      <img src="logos/pronacejlogo.png" alt="Pronacej" class="footer-logo">
    </div>
  </div>