<div class="container">
    <div class="header">
      <div class="user-info">
        <img src="icons/personoutline.png" alt="user icon" class="user-icon">
        <div class="welcome-text">
          <h2>Bienvenido<br>Miguel</h2>
        </div>
      </div>
    </div>
  
    <div class="categories-section">
        <h1>Pronacej digital<br>Elige tu categoría</h1>
      <div class="categories-grid">
        <div class="category-row">
          <div class="category-card seguridad" ><!--(click)="navigateTo('cjdr')"-->
            <img src="icons/PronacejDigital/seguridad.png" alt="CJDR">
            <h3>Seguridad</h3>
          </div>
          <div class="category-card ejecucion"  ><!--(click)="navigateTo('soa')"-->
            <img src="icons/PronacejDigital/ejecucionpresupuestal.png" alt="SOA">
            <h3>Ejecución Presupuestal</h3>
          </div>
        </div>
        <div class="category-row" ><!--(click)="navigateTo('paspe')"-->
          <div class="category-card recursos">
            <img src="icons/PronacejDigital/recursoshumanos.png" alt="PASPE">
            <h3>Recursos Humanos</h3>
          </div>
        </div>
      </div>
    </div>
  
    <div class="footer">
      <img src="logos/ministeriologo.png" alt="Ministerio" class="footer-logo">
      <img src="logos/pronacejlogo.png" alt="Pronacej" class="footer-logo">
    </div>
  </div>